/*
Theme Name: Goyaves
Theme URI: http://goyaves.com
Description: A child theme of Orkan Theme
Author: Irienet
Author URI: https://irienet.fr
Version: 1.0.0
Text Domain: orkan
Template: orkan
*/


@font-face { font-family: NeutrafaceLight; src: url("./fonts/Neutraface2Display-Thin.otf");  }
@font-face { font-family: NeutrafaceBold; src: url("./fonts/Neutraface2Display-Bold.otf");  }
@font-face { font-family: Neutraface; src: url("./fonts/Neutraface2Display-Medium.otf");  }

body, h5, h6 { font-family: "Neutraface", serif !important; }
h1, h2, h3, h4 { font-family: "NeutrafaceBold", serif !important; }
.edgtf-main-menu>ul>li>a { font-family: "NeutrafaceBold", serif !important; }


body { font-size: 22px !important; }
h1 { font-size: 52px !important; }
h2 { font-size: 38px !important; }
h3 { font-size: 30px !important; }
h4 { font-size: 28px !important; }
h5 { font-size: 24px !important; }
.edgtf-main-menu ul li a { font-size: 22px !important; }
.home-title-section h1 { font-size: 43px; }
.home-title-section h2 { font-size: 30px; }
.goyaves-dual-subtitle h2 { font-size: 40px; }
.vc-hoverbox-block h2 { font-size: 25px;}
.dual-flipbox .vc-hoverbox-block h2 { font-size: 35px; }


.home-images .edgtf-si-inner > a { max-width: 800px; margin: auto; } 
.text-justify { text-align: justify; }
.vc-hoverbox-inner { min-height: 350px !important; } 
.edgtf-bli-inner .vc-hoverbox-inner { min-height: 350px !important; } 
.edgtf-page-header a img { display: block; float: left; position: relative; top: 6px; margin-right: 4px; }
.edgtf-blog-holder article .edgtf-post-info-standard-bottom { display: none !important; } 
.section-title-center .edgtf-st-separator { left: 0; right: 0; margin: auto; }
.goyaves-column-title .edgtf-st-separator, .goyaves-dual-subtitle .edgtf-st-separator { right: 0 !important; margin: auto; }
.vc-hoverbox-block { cursor: pointer; background-color: #F9F9F9 !important; }
.edgtf-iwt-icon-top .edgtf-iwt-text { text-align: justify !important;  }
.force-one-column-blog .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item { width: 100% !important; }
.double-video-text-block { margin-top: 50px; margin-bottom: 50px;  }
.single-post .edgtf-post-heading { text-align: center; }
.section-link .edgtf-iwt-title { text-align: center; }
.section-link .edgtf-iwt-title > a { display: inline-block; }
footer.edgtf-page-footer { margin-top: 30px; }


/* flipbox */
.flipbox-section { max-width: 1200px !important; margin-left: auto !important; margin-right: auto !important; }

/* correction bug menu */
.edgtf-content { margin-top: 0 !important; }
.edgtf-title-wrapper { padding-top: 0 !important; }


/* correction header logo */
.edgtf-logo-wrapper a { height: 55px !important; }
.edgtf-menu-area .edgtf-logo-wrapper a { top: -7px; }
.edgtf-sticky-header .edgtf-logo-wrapper a { top: -3px; }


/* boutons */
.vc_btn3-container a { padding: 7px 15px !important; font-size: 13px !important; }

/* cacher pointeur partenaires */
.home .edgtf-cc-item { pointer-events: none;  }


/* couleurs */
.edgtf-st-title-dot { color: #f67400 !important; }
.edgtf-main-menu>ul>li.edgtf-active-item>a, .edgtf-main-menu>ul>li>a:hover,
.edgtf-main-menu.edgtf-sticky-nav>ul>li.edgtf-active-item>a, .edgtf-main-menu.edgtf-sticky-nav>ul>li>a:hover, .edgtf-main-menu ul li:hover>a { color: #f67400 !important; }
.edgtf-dark-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li.edgtf-active-item>a, .edgtf-dark-header .edgtf-page-header>div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu>ul>li>a:hover, .edgtf-drop-down .second .inner ul li.current-menu-ancestor>a, .edgtf-drop-down .second .inner ul li.current-menu-item>a { color: #f67400 !important; }
#edgtf-back-to-top > span, .edgtf-st-separator, .edgtf-btn.edgtf-btn-solid { background: #f67400 !important; }
a:hover, p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #f67400 !important; }
.vp-title-header h1 a, .vp-title-header .sub-title h2 a { color: #f67400 !important; }
#submit_comment, .post-password-form input[type=submit], input.wpcf7-form-control.wpcf7-submit { background: #f67400 !important; }
.edgtf-mobile-header .edgtf-mobile-menu-opener a:hover, .edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a { color: #f67400 !important; }
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid>ul>li.edgtf-active-item>a, .edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid>ul>li.edgtf-active-item>h6, .edgtf-mobile-header .edgtf-mobile-nav ul li a:hover, .edgtf-mobile-header .edgtf-mobile-nav ul li h6:hover, .edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-ancestor>a, .edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-ancestor>h6, .edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-item>a, .edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-item>h6 { color: #f67400 !important; }
.edgtf-icon-font-awesome:hover, .edgtf-iwt:hover .edgtf-iwt-icon~.edgtf-iwt-content .edgtf-iwt-title-text { color: #f67400 !important; }
.edgtf-blog-single-navigation-inner a:hover .edgtf-blog-single-nav-title, .edgtf-blog-single-navigation .edgtf-blog-single-next, .edgtf-blog-single-navigation .edgtf-blog-single-prev { color: #f67400 !important; }



@media (min-width: 1200px) {
  .single-post .edgtf-blog-video-holder { padding: 0 10%; }
}

@media (max-width: 1200px) {
  .documentaries-fictions-columns .edgtf-blog-list-holder .edgtf-bl-item { width: 100% !important; }
  .flip-bg-left .vc-hoverbox-front { background-position-x: left !important; }
  .flip-bg-right .vc-hoverbox-front { background-position-x: right !important; }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  h1 { font-size: 42px !important; }
  h2 { font-size: 30px !important; }
  h3 { font-size: 26px !important; }
  h4 { font-size: 22px !important; }
  h5, body { font-size: 20px !important; }
  .edgtf-main-menu ul li a { font-size: 18px !important; }
}

@media (max-width: 1024px) {
  .edgtf-mobile-header .edgtf-mobile-logo-wrapper a { height: 50px !important; }
  .campaign-columns .edgtf-blog-list-holder .edgtf-bl-item { width: 100% !important; }
  .edgtf-page-footer .edgtf-column-content, .edgtf-page-footer .edgtf-social-icons-group-widget { text-align: center !important; }
  .edgtf-page-footer img { margin: auto !important; }
}

@media (max-width: 768px) {
  h1 { font-size: 34px !important; }
  h2 { font-size: 28px !important; }
  h3 { font-size: 23px !important; }
  h4 { font-size: 20px !important; }
  h5, body { font-size: 18px !important; }
}

@media (max-width: 520px) {
  h1 { font-size: 30px !important; }
  h2 { font-size: 24px !important; }
  h3 { font-size: 20px !important; }
  h4 { font-size: 18px !important; }
  h5, body { font-size: 16px !important; }
}

