/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 25%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns .edgtf-blog-masonry-grid-sizer {
    width: 25%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
    width: 66.66667%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 66.66667%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width-height {
    width: 100%;
  }
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-author-description .edgtf-author-description-inner {
    min-height: 100px;
  }
  .edgtf-author-description .edgtf-author-description-image {
    width: 100px;
  }
  .edgtf-author-description .edgtf-author-description-content {
    padding: 0 0 0 130px;
    min-height: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-title,
  .edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-title {
    font-size: 16px;
  }
  .edgtf-author-description .edgtf-author-description-inner {
    min-height: 80px;
  }
  .edgtf-author-description .edgtf-author-description-image {
    width: 80px;
  }
  .edgtf-author-description .edgtf-author-description-content {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-single-navigation .edgtf-blog-single-prev,
  .edgtf-blog-single-navigation .edgtf-blog-single-next {
    height: auto;
    min-height: inherit;
  }
  .edgtf-blog-single-navigation .edgtf-blog-single-prev img,
  .edgtf-blog-single-navigation .edgtf-blog-single-next img {
    display: none !important;
  }
  .edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-info,
  .edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-info {
    padding: 0 !important;
  }
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 50% !important;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-author-description .edgtf-author-description-inner {
    min-height: inherit;
  }
  .edgtf-author-description .edgtf-author-description-image {
    float: none;
  }
  .edgtf-author-description .edgtf-author-description-content {
    padding: 25px 0 0;
    min-height: inherit;
  }
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(3n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(3n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item:nth-child(2n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1), .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-blog-list-holder.edgtf-bl-standard .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bl-item {
    width: 100% !important;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-blog-slider-holder.edgtf-bs-carousel-centered .active.center .edgtf-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map-responsive.css.map */
