/* ==========================================================================
   Title styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Title style - begin
   ========================================================================== */
.edgtf-title-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 300px;
  background-color: #16161d;
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 101;
}

.edgtf-title-holder.edgtf-title-full-width .edgtf-grid {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
}

.edgtf-title-holder.edgtf-bg-responsive {
  height: auto !important;
}

.edgtf-title-holder.edgtf-bg-responsive .edgtf-title-image {
  display: block;
}

.edgtf-title-holder.edgtf-bg-responsive .edgtf-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-title-holder.edgtf-bg-parallax {
  background-attachment: fixed;
}

.edgtf-title-holder .edgtf-title-image {
  display: none;
}

.edgtf-title-holder .edgtf-title-image img {
  display: block;
  width: 100%;
}

.edgtf-title-holder .edgtf-title-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.edgtf-title-holder .edgtf-title-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.edgtf-title-holder .edgtf-page-title {
  color: #fff;
}

.edgtf-title-holder span.edgtf-page-title {
  display: block;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 123px;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.edgtf-title-holder .edgtf-page-subtitle {
  color: #b2b2b2;
}

.edgtf-title-holder .edgtf-delimiter {
  margin: 0 1px;
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Breadcrumbs Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  color: #b2b2b2;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs a,
.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  color: inherit;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs a:hover,
.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs .edgtf-current {
  color: #fff;
}

/* ==========================================================================
   Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-centered-type .edgtf-title-inner {
  text-align: center;
}

.edgtf-title-holder.edgtf-centered-type .edgtf-page-title {
  margin: 0;
}

.edgtf-title-holder.edgtf-centered-type .edgtf-page-subtitle {
  display: block;
  margin: 15px 0 0;
  box-sizing: border-box;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard With Breadcrumbs Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type {
  text-align: center;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-page-title {
  margin: 0;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-page-subtitle {
  margin: 15px 0 0;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs-info {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs {
  color: #b2b2b2;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs a,
.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  color: inherit;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs a:hover,
.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs .edgtf-current {
  color: #fff;
}

/* ==========================================================================
   Standard With Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-standard-type .edgtf-page-title {
  margin: 0;
}

.edgtf-title-holder.edgtf-standard-type .edgtf-page-subtitle {
  max-width: 64%;
  margin: 15px 0 0;
}

@media only screen and (max-width: 1024px) {
  .edgtf-title-holder.edgtf-standard-type .edgtf-page-subtitle {
    max-width: 80%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-title-holder.edgtf-standard-type .edgtf-page-subtitle {
    max-width: 100%;
  }
}

/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map.css.map */
