/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.edgtf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.edgtf-page-header a img {
  display: block;
}

.edgtf-page-header p {
  margin: 0;
}

.edgtf-page-header .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-paspartu-enabled .edgtf-page-header .edgtf-vertical-align-containers {
  padding: 0;
}

.edgtf-page-header .edgtf-grid {
  height: 100%;
}

.edgtf-page-header .edgtf-grid .edgtf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.edgtf-page-header .edgtf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.edgtf-page-header .edgtf-logo-area .edgtf-logo-wrapper a {
  max-height: 90px;
}

.edgtf-page-header .edgtf-menu-area {
  position: relative;
  height: 90px;
  background-color: #fff;
  box-sizing: border-box;
}

.edgtf-boxed .edgtf-page-header .edgtf-menu-area {
  padding: 0;
}

.edgtf-page-header .edgtf-menu-area .edgtf-logo-wrapper a {
  max-height: 90px;
}

.edgtf-page-header .edgtf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.edgtf-logo-area-border-disable .edgtf-page-header .edgtf-logo-area {
  border: none;
}

.edgtf-logo-area-in-grid-border-disable .edgtf-page-header .edgtf-logo-area .edgtf-grid .edgtf-vertical-align-containers {
  border: none;
}

.edgtf-header-logo-area-in-grid-padding .edgtf-page-header .edgtf-logo-area .edgtf-vertical-align-containers {
  padding: 0 25px;
}

.edgtf-menu-area-shadow-disable .edgtf-page-header .edgtf-menu-area {
  box-shadow: none;
}

.edgtf-menu-area-shadow-disable .edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers {
  box-shadow: none;
}

.edgtf-menu-area-border-disable .edgtf-page-header .edgtf-menu-area {
  border: none;
}

.edgtf-menu-area-in-grid-border-disable .edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers {
  border: none;
}

.edgtf-header-logo-area-in-grid-padding .edgtf-page-header .edgtf-menu-area .edgtf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 1;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 0;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget p,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget span,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget i,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a:hover {
  color: #FBD681 !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget p,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget span,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget i,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a:hover {
  color: #FBD681 !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 1;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 0;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area {
  color: #16161d !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget {
  color: #16161d !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget p,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget span,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget i,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget .widgettitle {
  color: #16161d !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a:hover {
  color: #FBD681 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area {
  color: #16161d !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget {
  color: #16161d !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget p,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget span,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget i,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget .widgettitle {
  color: #16161d !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a:hover {
  color: #FBD681 !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.edgtf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.edgtf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.edgtf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.edgtf-logo-wrapper a img.edgtf-normal-logo {
  opacity: 1;
}

.edgtf-logo-wrapper a img.edgtf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.edgtf-logo-wrapper a img.edgtf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.edgtf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.edgtf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.edgtf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.edgtf-main-menu ul li a {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #b2b2b2;
}

.edgtf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.edgtf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-main-menu ul li a .edgtf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.edgtf-main-menu ul li a .edgtf-menu-featured-icon:before {
  margin: 0;
}

.edgtf-main-menu ul li:hover > a {
  color: #FBD681;
}

.edgtf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.edgtf-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.edgtf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 17px;
  color: #16161d;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  box-sizing: border-box;
}

.edgtf-main-menu > ul > li > a:hover {
  color: #FBD681;
}

.edgtf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.edgtf-main-menu > ul > li.edgtf-active-item > a {
  color: #FBD681;
}

.edgtf-main-menu > ul > li.has_sub > a .edgtf-menu-arrow {
  display: none;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a {
  color: #fff;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a:hover {
  color: #FBD681;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li.edgtf-active-item > a {
  color: #FBD681;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a {
  color: #16161d;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a:hover {
  color: #FBD681;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li.edgtf-active-item > a {
  color: #FBD681;
}

/* Narrow drop down styles
   ========================================================================== */
.edgtf-drop-down .second {
  position: absolute;
  display: block;
  left: -9px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.edgtf-drop-down .second.edgtf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-drop-down .second.right {
  right: -9px;
  left: auto;
}

.edgtf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.edgtf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.edgtf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.edgtf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 4px 26px;
}

.edgtf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
}

.edgtf-drop-down .second .inner ul li.current-menu-ancestor > a,
.edgtf-drop-down .second .inner ul li.current-menu-item > a {
  color: #FBD681;
}

.edgtf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  right: 0;
  content: '\f054';
  font-family: 'FontAwesome';
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edgtf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 0;
  content: '\f053';
}

.edgtf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.edgtf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.edgtf-drop-down li.left_position .second {
  left: 0;
}

.edgtf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.edgtf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.edgtf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(40, 40, 39, 0.99);
  padding: 30px 0;
}

.edgtf-drop-down .narrow .second .inner ul li {
  width: 234px;
}

.edgtf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -30px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.edgtf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.edgtf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.edgtf-drop-down .wide .second .inner {
  background-color: rgba(40, 40, 39, 0.99);
  text-align: center;
}

.edgtf-drop-down .wide .second .inner ul li a {
  padding: 7px 0;
}

.edgtf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.edgtf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.edgtf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1100px;
  padding: 44px 0 41px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1400px) {
  .edgtf-grid-1300 .edgtf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .edgtf-grid-1200 .edgtf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .edgtf-grid-1000 .edgtf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .edgtf-grid-800 .edgtf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.edgtf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 26px;
  box-sizing: border-box;
}

.edgtf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.edgtf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 29px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.1em;
  font-weight: 700;
  color: #fff;
}

.edgtf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.edgtf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.edgtf-drop-down .wide .second .inner > ul > li.current-menu-ancestor > a,
.edgtf-drop-down .wide .second .inner > ul > li.current-menu-item > a {
  color: #FBD681;
}

.edgtf-drop-down .wide.left_position .second .inner > ul, .edgtf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.edgtf-drop-down .wide.left_position .second .inner > ul > li, .edgtf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.edgtf-drop-down .wide.left_position .second ul li, .edgtf-drop-down .wide.right_position .second ul li {
  width: 234px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.edgtf-page-header .edgtf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .edgtf-page-header .edgtf-fixed-wrapper.fixed {
  margin-top: 32px;
}

.edgtf-page-header .edgtf-fixed-wrapper.fixed .edgtf-menu-area {
  background-color: #fff;
}

.edgtf-fixed-on-scroll .edgtf-page-header .edgtf-fixed-wrapper .edgtf-menu-area {
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */
/* Fullscreen general style - begin
========================================================================== */
.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener {
  color: #16161d;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener:hover, .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener.edgtf-fm-opened {
  color: #FBD681;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener {
  color: #fff;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener:hover, .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener.edgtf-fm-opened {
  color: #FBD681;
}

.edgtf-fullscreen-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  line-height: 1;
}

.edgtf-fullscreen-menu-opener .edgtf-fm-lines {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 2px;
  width: 20px;
  height: 15px;
  line-height: inherit;
}

.edgtf-fullscreen-menu-opener .edgtf-fm-line {
  position: absolute;
  left: 0;
  display: inline-block;
  vertical-align: top;
  height: 3px;
  background-color: currentColor;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.edgtf-fullscreen-menu-opener .edgtf-fm-line.edgtf-fm-line-1 {
  top: 0;
  width: 14px;
}

.edgtf-fullscreen-menu-opener .edgtf-fm-line.edgtf-fm-line-2 {
  top: 6px;
  width: 17px;
}

.edgtf-fullscreen-menu-opener .edgtf-fm-line.edgtf-fm-line-3 {
  bottom: 0;
  width: 20px;
}

.edgtf-fullscreen-menu-opener:hover {
  color: #FBD681;
}

.edgtf-fullscreen-menu-opener:hover .edgtf-fm-line.edgtf-fm-line-1 {
  width: 20px;
}

.edgtf-fullscreen-menu-opener:hover .edgtf-fm-line.edgtf-fm-line-3 {
  width: 14px;
}

.edgtf-fullscreen-menu-opener.edgtf-fm-opened .edgtf-fm-lines {
  display: none;
}

.edgtf-fullscreen-menu-opener.edgtf-fm-opened:after {
  content: '\4d';
  font-family: 'ElegantIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 34px;
  line-height: 1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.edgtf-fullscreen-menu-opener.edgtf-fm-opened:hover:after {
  color: #FBD681;
}

.edgtf-fullscreen-menu-opened .edgtf-page-header,
.edgtf-fullscreen-menu-opened .edgtf-top-bar {
  visibility: hidden;
}

.edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-opener {
  visibility: visible;
}

.edgtf-fullscreen-menu-opened .edgtf-logo-wrapper {
  visibility: visible;
}

.edgtf-fullscreen-menu-opened .edgtf-logo-wrapper img {
  opacity: 0;
}

.edgtf-fullscreen-menu-opened .edgtf-logo-wrapper img.edgtf-light-logo {
  opacity: 1;
}

.edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-holder-outer {
  visibility: visible !important;
  opacity: 1 !important;
}

.edgtf-fullscreen-menu-holder-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  opacity: 0;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.edgtf-fullscreen-menu-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #16161d;
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.edgtf-fullscreen-menu-holder-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 60px 0;
}

.touch .edgtf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-holder-outer {
  display: block;
}

nav.edgtf-fullscreen-menu {
  position: relative;
  top: 0;
  margin: 0 auto;
  text-align: left;
}

nav.edgtf-fullscreen-menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.edgtf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.edgtf-fullscreen-menu ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 7px 0;
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  color: #b2b2b2;
  -webkit-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

nav.edgtf-fullscreen-menu ul li a:hover {
  color: #FBD681;
}

nav.edgtf-fullscreen-menu ul li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

nav.edgtf-fullscreen-menu ul li.open_sub > a {
  color: #FBD681;
}

nav.edgtf-fullscreen-menu ul li ul {
  padding: 4px 0;
}

nav.edgtf-fullscreen-menu ul li ul.sub_menu {
  display: none;
}

nav.edgtf-fullscreen-menu ul li ul li.current-menu-ancestor > a,
nav.edgtf-fullscreen-menu ul li ul li.current-menu-item > a {
  color: #FBD681;
}

nav.edgtf-fullscreen-menu > ul {
  display: block;
}

nav.edgtf-fullscreen-menu > ul > li > a {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 77px;
  line-height: 1.233766233766234em;
  font-weight: 700;
  color: #fff;
}

nav.edgtf-fullscreen-menu > ul > li.edgtf-active-item > a {
  color: #FBD681;
}

.edgtf-fullscreen-below-menu-widget-holder {
  text-align: center;
  margin-top: 20px;
}

.edgtf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* Fullscreen general style - end
========================================================================== */
/* Fullscreen fade animations general - begin
========================================================================== */
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer,
.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden !important;
  z-index: 105;
  opacity: 0;
}

.edgtf-fullscreen-fade-out .edgtf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_out .25s linear both;
  -moz-animation: fade_out .25s linear both;
  animation: fade_out .25s linear both;
}

.edgtf-fullscreen-menu-opened.edgtf-fullscreen-fade-in .edgtf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_in .25s linear both;
  -moz-animation: fade_in .25s linear both;
  animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */
/* Fullscreen animation push text right - begin
========================================================================== */
@-webkit-keyframes push_text_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_text_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_text_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes push_nav_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_nav_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_nav_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer nav > ul > li > a,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder > div,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  -moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}

.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  -webkit-transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

/* Fullscreen animation push text right - end
========================================================================== */
/* Fullscreen animation push text top - begin
========================================================================== */
@-webkit-keyframes push_text_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes push_text_top {
  0% {
    opacity: 0;
    -moz-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes push_text_top {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer nav > ul > li > a,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder > div,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_top 0.4s ease-out both 0.5s;
  -moz-animation: push_text_top 0.4s ease-out both 0.5s;
  animation: push_text_top 0.4s ease-out both 0.5s;
}

.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

/* Fullscreen animation push text top - end
========================================================================== */
/* Fullscreen animation fade text scaledown - begin
========================================================================== */
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */
/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.edgtf-header-minimal .edgtf-page-header .edgtf-menu-area .edgtf-position-right-inner {
  height: auto;
}

.edgtf-header-minimal .edgtf-page-header .edgtf-position-left:before,
.edgtf-header-minimal .edgtf-page-header .edgtf-position-right:before {
  content: "";
}

.edgtf-header-minimal .edgtf-page-header .edgtf-sticky-header .edgtf-position-left-inner {
  height: auto;
}

.edgtf-header-minimal .edgtf-page-header .edgtf-sticky-header .edgtf-vertical-align-containers .edgtf-position-right .edgtf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-left-inner {
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-center-inner {
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-right .edgtf-main-menu {
  width: auto;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-right .edgtf-vertical-align-containers .edgtf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Header Vertical style - begin
   ========================================================================== */
/* ==========================================================================
   Header Vertical navigation style - begin
   ========================================================================== */
.edgtf-header-vertical .edgtf-vertical-menu-outer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-header-vertical .edgtf-vertical-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 66px 0 31px;
  padding: 0;
  z-index: 100;
}

.edgtf-header-vertical .edgtf-vertical-menu ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li {
  position: relative;
  padding: 0;
  margin: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 4px 0;
  font-size: 15px;
  line-height: 25px;
  color: #b2b2b2;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover {
  color: #FBD681;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .item_outer {
  position: relative;
  display: block;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .edgtf-menu-arrow {
  display: none;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .edgtf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 3px;
  color: #FBD681;
  font-size: 12px;
  margin: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .menu_icon:not(.blank):not(.null) {
  padding: 0 5px 0 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li.edgtf-active-item > a,
.edgtf-header-vertical .edgtf-vertical-menu ul li.current_page_item > a,
.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-item > a,
.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-ancestor > a {
  color: #FBD681;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li ul {
  padding: 5px 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li .second {
  display: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.edgtf-header-vertical .edgtf-vertical-menu ul li .second .inner {
  position: relative;
  display: block;
  padding: 0;
  z-index: 997;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a {
  padding: 8px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a:hover {
  color: #FBD681;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a span.item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li a {
  color: #fff !important;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover {
  color: #FBD681 !important;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current_page_item > a,
.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-item > a,
.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-ancestor > a {
  color: #FBD681 !important;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a,
.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: #FBD681 !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li a {
  color: #16161d !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover {
  color: #FBD681 !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current_page_item > a,
.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-item > a,
.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-ancestor > a {
  color: #FBD681 !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a,
.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: #FBD681 !important;
}

/* ==========================================================================
   Header Vertical navigation style - end
   ========================================================================== */
.edgtf-header-vertical .edgtf-vertical-area-widget-holder {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  margin: 0;
  z-index: 100;
  text-align: center;
}

.edgtf-header-vertical .edgtf-vertical-area-widget-holder .edgtf-social-icons-group-widget {
  display: inline-block;
  vertical-align: top;
}

.edgtf-header-vertical.admin-bar .edgtf-vertical-menu-area {
  top: 32px;
  height: calc(100% - 32px);
}

.edgtf-header-vertical .edgtf-content,
.edgtf-header-vertical footer {
  padding-left: 320px;
  box-sizing: border-box;
}

.edgtf-header-vertical .edgtf-vertical-menu-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  padding: 62px 35px;
  background-color: transparent;
  outline: none;
  z-index: 101;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
}

.edgtf-header-vertical .edgtf-vertical-menu-area.edgtf-with-scroll {
  overflow: hidden;
}

.edgtf-header-vertical .edgtf-vertical-menu-area-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}

.edgtf-header-vertical .edgtf-logo-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
}

.edgtf-header-vertical .edgtf-logo-wrapper a {
  display: block;
  position: relative;
  height: 100%;
}

.edgtf-header-vertical .edgtf-logo-wrapper img {
  display: block;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.edgtf-header-vertical .edgtf-vertical-area-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: #16161d;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  -moz-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
}

.edgtf-light-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 1;
}

.edgtf-light-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-light-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 0;
}

.edgtf-dark-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 1;
}

.edgtf-dark-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-dark-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 0;
}

/* ==========================================================================
   Header Vertical style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.edgtf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.edgtf-mobile-header .edgtf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.edgtf-mobile-header .edgtf-mobile-header-inner .edgtf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.edgtf-mobile-header .edgtf-grid {
  height: 100%;
}

.edgtf-mobile-header .edgtf-vertical-align-containers {
  padding: 0;
}

.edgtf-mobile-header .edgtf-mobile-logo-wrapper a {
  display: block;
}

.edgtf-mobile-header .edgtf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a {
  position: relative;
  display: table;
  height: 100%;
  line-height: 1;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a > span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mm-lines {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 15px;
  line-height: inherit;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mm-line {
  position: absolute;
  left: 0;
  display: inline-block;
  vertical-align: top;
  height: 3px;
  background-color: currentColor;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mm-line.edgtf-mm-line-1 {
  top: 0;
  width: 14px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mm-line.edgtf-mm-line-2 {
  top: 6px;
  width: 17px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mm-line.edgtf-mm-line-3 {
  bottom: 0;
  width: 20px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a:hover {
  color: #FBD681;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a:hover .edgtf-mm-line.edgtf-mm-line-1 {
  width: 20px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a:hover .edgtf-mm-line.edgtf-mm-line-3 {
  width: 14px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a {
  color: #FBD681;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a .edgtf-mm-line.edgtf-mm-line-1 {
  width: 20px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a .edgtf-mm-line.edgtf-mm-line-3 {
  width: 14px;
}

.edgtf-mobile-header .edgtf-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #cdcdcd;
}

.edgtf-mobile-header .edgtf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.edgtf-mobile-header .edgtf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
}

.edgtf-mobile-header .edgtf-mobile-nav ul li a, .edgtf-mobile-header .edgtf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  font-size: 15px;
  color: #6a6a6a;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

.edgtf-mobile-header .edgtf-mobile-nav ul li a:hover, .edgtf-mobile-header .edgtf-mobile-nav ul li h6:hover {
  color: #FBD681;
}

.edgtf-mobile-header .edgtf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-ancestor > a,
.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-item > a,
.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-ancestor > h6,
.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #FBD681;
}

.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li.edgtf-active-item > a,
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li.edgtf-active-item > h6 {
  color: #FBD681;
}

.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li.edgtf-active-item > .mobile_arrow > .edgtf-sub-arrow:before {
  content: '\f107';
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow * {
  display: block;
  line-height: 1;
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.edgtf-mobile-header .edgtf-mobile-nav li.edgtf-opened > .mobile_arrow > .edgtf-sub-arrow:before {
  content: '\f107';
}

.edgtf-mobile-header .edgtf-mobile-nav > ul > li:last-child > a,
.edgtf-mobile-header .edgtf-mobile-nav > .edgtf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.edgtf-sticky-up-mobile-header .edgtf-animate-mobile-header .edgtf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.edgtf-sticky-up-mobile-header.admin-bar .mobile-header-appear .edgtf-mobile-header-inner {
  -webkit-transform: translateY(32px);
  -moz-transform: translateY(32px);
  transform: translateY(32px);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.edgtf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.edgtf-sticky-header .edgtf-grid {
  height: 100% !important;
}

.edgtf-sticky-header.header-appear {
  transform: translateY(0%);
}

.edgtf-sticky-header .edgtf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #16161d;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}

.edgtf-sticky-header .edgtf-sticky-holder .edgtf-logo-wrapper a {
  max-height: 60px;
}

.admin-bar .edgtf-sticky-header.header-appear {
  top: 32px;
}

.edgtf-sticky-header .edgtf-position-center-inner,
.edgtf-sticky-header .edgtf-position-right-inner {
  height: 100%;
}

.edgtf-sticky-header .edgtf-sticky-right {
  display: inline-block;
  vertical-align: middle;
}

.edgtf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.edgtf-main-menu.edgtf-sticky-nav > ul > li > a {
  color: #fff;
}

.edgtf-main-menu.edgtf-sticky-nav > ul > li > a:hover {
  color: #FBD681;
}

.edgtf-main-menu.edgtf-sticky-nav > ul > li.edgtf-active-item > a {
  color: #FBD681;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.edgtf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 46px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  background-color: #16161d;
  z-index: 111;
  box-sizing: border-box;
}

.edgtf-top-bar > .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-left:before,
.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-left-inner,
.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-top-bar .edgtf-grid {
  height: 100%;
}

.edgtf-top-bar .edgtf-grid .edgtf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.edgtf-top-bar-in-grid-padding .edgtf-top-bar .edgtf-grid .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-top-bar .widget {
  margin: 0;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
